@import url("font_and_color.css");

/* separate design for profile site */
.about{
    padding:0.5em;
    background-color: rgba(154, 165, 63, 0.5);
}
.card{
    border-bottom: solid 2px var(--strong-bg-color);
}
.card:last-of-type{
    border:none;
}