<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Do+Hyeon&family=Fanwood+Text:ital@0;1&family=Holtwood+One+SC&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/font_and_color.css">
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/about.css">
    <title>about</title>
</head>
<body>
    <!-- navigation -->
    <nav>
        <ul>
            <li><a href="">home</a></li>
            <li><a href="">about</a></li>
            <li><a href="">game</a></li>
            <li><a href="">tutorial</a></li>
            <li><a href="">profil</a></li>
        </ul>
    </nav>
    <!-- title of the page -->
    <header class="title">
        <h1 class="sitetitle">lost in the woods</h1>
    </header>

    <!-- about section -->
    <section class="about">
        <h2>about the game</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo quaerat delectus ipsa rem, provident adipisci quia ab. 
            Eos amet nulla illo alias non accusantium porro? Adipisci voluptates, sint numquam facere itaque, dolore nostrum reiciendis 
            tempore atque beatae eveniet reprehenderit quas, 
            odit repellat ipsa voluptate natus tempora voluptatem magnam iure ea!
        </p>
    </section>
    <section class="about">
        <h2>about the team</h2>
        <!-- about the team members -->
        <div class="team">
            <div class="teamMember">
                <img class="memberImg" src="https://as2.ftcdn.net/jpg/01/04/01/37/500_F_104013719_0RBp6tC9Q0ryP0bzgTqHGZWPLbmz2Cdt.jpg" alt="team member">
                <h4>teamplayer</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore esse quod reprehenderit.</p>
            </div>

            <div class="teamMember">
                <img class="memberImg" src="https://as2.ftcdn.net/jpg/01/04/01/37/500_F_104013719_0RBp6tC9Q0ryP0bzgTqHGZWPLbmz2Cdt.jpg" alt="team member">
                <h4>teamplayer</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore esse quod reprehenderit.</p>
            </div>  
        </div>
        <!-- our goal and stuff -->
        <article class="goals">
            <h3>our goals</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo quaerat delectus ipsa rem, provident adipisci quia ab. 
                Eos amet nulla illo alias non accusantium porro? Adipisci voluptates, sint numquam facere itaque, dolore nostrum reiciendis 
                tempore atque beatae eveniet reprehenderit quas, 
                odit repellat ipsa voluptate natus tempora voluptatem magnam iure ea!
            </p>  
        </article>
      
    </section>

</body>
</html>