<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Do+Hyeon&family=Fanwood+Text:ital@0;1&family=Holtwood+One+SC&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/font_and_color.css">
    <link rel="stylesheet" href="css/main.css">
    <title>lets play</title>
</head>
<body>
    <!-- navigation -->
    <nav>
        <ul>
            <li><a href="">home</a></li>
            <li><a href="">about</a></li>
            <li><a href="">game</a></li>
            <li><a href="">tutorial</a></li>
            <li><a href="">profil</a></li>
        </ul>
    </nav>
    <!-- title of the page -->
    <header class="title">
        <h1>lost in the woods</h1>
    </header>

    <!-- about section -->
    <section class="game">
   <h1>... coming soon ...</h1>
   <h2>be ready !</h2>
    </section>

</body>
</html>