<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Do+Hyeon&family=Fanwood+Text:ital@0;1&family=Holtwood+One+SC&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/font_and_color.css">
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <title>home</title>
</head>
<body>
    <!-- navigation -->
    <nav>
        <ul>
            <li><a href="">home</a></li>
            <li><a href="">about</a></li>
            <li><a href="">game</a></li>
            <li><a href="">tutorial</a></li>
            <li><a href="">profil</a></li>
        </ul>
    </nav>
    <!-- title of the page -->
    <header class="title">
        <h1 class="sitetitle">lost in the woods</h1>
    </header>
  
        <!-- about section -->
    <section class="about">
        <h2>about the game</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo quaerat delectus ipsa rem, provident adipisci quia ab. 
            Eos amet nulla illo alias non accusantium porro? Adipisci voluptates, sint numquam facere itaque, dolore nostrum reiciendis 
            tempore atque beatae eveniet reprehenderit quas, 
            odit repellat ipsa voluptate natus tempora voluptatem magnam iure ea!
        </p>
    </section>

    <!-- news section -->
    <section class="news">
        <h2>updates about the game and us</h2>

        <article class="newsEntry">
            <h3>title</h3>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Repudiandae qui eius, at itaque numquam, 
                voluptatum excepturi et eligendi aperiam culpa fuga voluptas 
                reprehenderit quam optio in, iste illo quaerat dolor! Obcaecati praesentium molestiae repellendus ab.</p>
        </article>

        <article class="newsEntry">
            <h3>title</h3>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Repudiandae qui eius, at itaque numquam, 
                voluptatum excepturi et eligendi aperiam culpa fuga voluptas 
                reprehenderit quam optio in, iste illo quaerat dolor! Obcaecati praesentium molestiae repellendus ab.</p>
        </article>
    </section>

    <!-- newsletter signup  -->
    <section class="newsletter">
    <h2 class="testc">sign up for newsletter</h2>
       <form method="POST">
        <label for="firstname">first name</label>
        <input type="text" name="firstname" id="firstname">

        <label for="lastname">last name</label>
        <input type="text" name="lastname" id="lastname">

        <label for="email">e-mail adress</label>
        <input type="email" name="email" id="email">

        <input class="submitButton" type="submit" value="sign up">
    </form>    
    </section>
 
    <footer>
        <a class="toSmw" href="">Privacy Policy</a>
        <a class="toSmw" href="">socialmedia</a>
        <a class="toSmw" href="">socialmedia</a>
        <button class="toTop"><i class="fas fa-arrow-circle-up"></i></button>
    </footer>
 
</body>
</html>