<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Do+Hyeon&family=Fanwood+Text:ital@0;1&family=Holtwood+One+SC&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/font_and_color.css">
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/profile.css">
    <title>my Profile</title>
</head>
<body>
    <!-- navigation -->
    <nav>
        <ul>
            <li><a href="">home</a></li>
            <li><a href="">about</a></li>
            <li><a href="">game</a></li>
            <li><a href="">tutorial</a></li>
            <li><a href="">profil</a></li>
        </ul>
    </nav>
    <!-- title of the page -->
    <header class="title">
        <h1 class="sitetitle">lost in the woods</h1>
    </header>

    <!-- profil -->
    <aside class="logoutButton">
        <ul>
            <li><a href="">log out</a></li>
        </ul>
    </aside>
       <h2>Welcome back Player!</h2>
    <section class="about">
        <!-- infos about the player -->
        <div class="profileinfos">
            <!-- container for personal infos -->
            <div class="card">
                <h3>personal informations</h3>
                <span class="card-title"> last name </span>
                <p>split</p> 
                <span class="card-title"> first name </span>
                <p>banana</p>
            </div>
            <!-- container for username -->
            <div class="card">
                <h3>Username</h3>
                <span class="card-title"> username </span>
                <p>banapac</p>
            </div>
            <!-- container for email  -->
            <div class="card">       
                <h3>e-mail adress</h3>
                <span class="card-title"> e-mail adress </span>
                <p>banana@pancake.com</p>
            </div>


        </div>

 
    </section>

</body>
</html>