<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Do+Hyeon&family=Fanwood+Text:ital@0;1&family=Holtwood+One+SC&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/font_and_color.css">
    <link rel="stylesheet" href="css/main.css">
    <title>tutorial</title>
</head>
<body>
    <!-- navigation -->
    <nav>
        <ul>
            <li><a href="">home</a></li>
            <li><a href="">about</a></li>
            <li><a href="">game</a></li>
            <li><a href="">tutorial</a></li>
            <li><a href="">profil</a></li>
        </ul>
    </nav>
    <!-- title of the page -->
    <header class="title">
        <h1 class="sitetitle">lost in the woods</h1>
    </header>

    <!-- tutorial section -->
    <section class="tutorial">
        <header>
            <h2>Tutorial how to play</h2>
        </header>
        <h3>Goal of the game</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo quaerat delectus ipsa rem, provident adipisci quia ab. 
            Eos amet nulla illo alias non accusantium porro? Adipisci voluptates, sint numquam facere itaque, dolore nostrum reiciendis 
            tempore atque beatae eveniet reprehenderit quas, 
            odit repellat ipsa voluptate natus tempora voluptatem magnam iure ea!
        </p>
    </section>
    <section class="tutorial">
        <h3>basic movements</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo quaerat delectus ipsa rem, provident adipisci quia ab. 
            Eos amet nulla illo alias non accusantium porro? Adipisci voluptates, sint numquam facere itaque, dolore nostrum reiciendis 
            tempore atque beatae eveniet reprehenderit quas, 
            odit repellat ipsa voluptate natus tempora voluptatem magnam iure ea!
        </p>
    </section>
    <section class="tutorial">
        <h3>environment</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo quaerat delectus ipsa rem, provident adipisci quia ab. 
            Eos amet nulla illo alias non accusantium porro? Adipisci voluptates, sint numquam facere itaque, dolore nostrum reiciendis 
            tempore atque beatae eveniet reprehenderit quas, 
            odit repellat ipsa voluptate natus tempora voluptatem magnam iure ea!
        </p>
    </section>
    <section class="tutorial">
        <h3>icons and displays</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo quaerat delectus ipsa rem, provident adipisci quia ab. 
            Eos amet nulla illo alias non accusantium porro? Adipisci voluptates, sint numquam facere itaque, dolore nostrum reiciendis 
            tempore atque beatae eveniet reprehenderit quas, 
            odit repellat ipsa voluptate natus tempora voluptatem magnam iure ea!
        </p>
    </section>
    <section class="tutorial">
        <h3>what changes with profiles</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo quaerat delectus ipsa rem, provident adipisci quia ab. 
            Eos amet nulla illo alias non accusantium porro? Adipisci voluptates, sint numquam facere itaque, dolore nostrum reiciendis 
            tempore atque beatae eveniet reprehenderit quas, 
            odit repellat ipsa voluptate natus tempora voluptatem magnam iure ea!
        </p>
    </section>

</body>
</html>